.background {
    background-image: url("../img/background.png");

    width: 100vw;
    min-height: 700px;
    height: calc(100vw / 3200 * 1694);

    background-position: 50% 50%;
}

.hello {
    align-items: flex-start;

    gap: 40px;

    min-width: 30%;
    width: 602px;
    max-width: 35%;

    margin: 0;
    padding: 0;

    position: absolute;
    top: 50%;
    left: 57%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.title {
    line-height: 120%;
    text-align: left;
}

.content {
    font-size: 18px;
    line-height: 200%;
    text-align: left;
}