.background {
    background-image: url("../img/background.png");

    background-position: 50% 50%;
}

.hello {
    align-items: flex-start;

    gap: 40px;

    min-width: 602px;
    width: 35%;

    top: 50%;
    left: 57%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.title {
    line-height: 120%;
    text-align: left;
}

.content {
    font-size: 18px;
    line-height: 200%;
    text-align: left;
}