body {
    color: white;
    font-family: sans-serif;
}

#background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
    height: 100%;

    background-image: url("../img/background.png");
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#hello {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 40px;

    width: 602px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 57%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#title {

    width: 100%;

    font-family: Commisioner, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 73px;
    line-height: 120%;
    text-align: left;

    flex: none;
    order: 0;
    flex-grow: 0;
}
#content {
    width: 100%;

    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;

    flex: none;
    order: 1;
    flex-grow: 0;
}