body {
    justify-content: center;
}

.background {
    background-image: url("../img/background-mobile.png");

    width: 100vw;
    height: auto;

    padding-top: 30px;
    padding-bottom: 30px;

    background-position: 50% 0;
}

.hello {
    align-items: center;

    gap: 30px;

    width: 90%;

    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.title {
    line-height: 120%;
    text-align: center;
}

.content {
    font-size: 16px;
    line-height: 200%;
    text-align: center;
}