body {
    justify-content: center;
}

.background {
    background-image: url("../img/background-mobile.png");

    background-position: 50% 0;
}

.hello {
    align-items: center;

    gap: 30px;

    width: 90%;

    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.title {
    font-size: 40px;
    line-height: 120%;
    text-align: center;
}

.content {
    font-size: 16px;
    line-height: 200%;
}

