@import url(mobile.css);
@import url(tablet.css) (min-width: 1024px) and (max-width: 1399px) and (min-height: 600px) and (min-aspect-ratio: 119/73);
@import url(desktop.css) (min-width: 1400px) and (min-height: 600px) and (min-aspect-ratio: 119/73);

#hire-button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 32px;
    margin-bottom: 20px;
    gap: 11px;

    width: 331px;
    max-width: 100%;
    height: 65px;

    background: linear-gradient(273.26deg, #4051F2 8.9%, #186CE9 29.59%, #5841F8 69.4%);
    box-shadow: 0 4px 21px rgba(79, 75, 255, 0.33);
    backdrop-filter: blur(59px);

    border-radius: 21px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

#arrow {
    width: 30px;
    height: 30px;

    flex: none;
    margin: 0;

}

#arrow-body {
    width: 15px;
    height: 15px;

    margin: 0;

    position: relative;
    transform: translate(50%, 50%);
}

#arrow-borders {
    width: 10px;
    height: 10px;

    position: absolute;
    top: 0;
    right: 0;

    margin: 0;

    border-top: 1.7px white solid;
    border-right: 1.7px white solid;
}

#arrow-line {

    position: absolute;
    bottom: 0;
    left: 0;

    width: 20px;
    border-bottom: 1.7px solid white;
    transform: rotate(-45deg);
    transform-origin: left;
}

#hire-button-text {
    width: max-content;
    height: 22px;

    font-family: Commissioner, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    display: flex;
    align-items: center;
    text-transform: capitalize;

    flex: none;
    order: 0;
    flex-grow: 0;
}