@import url(mobile.css);
@import url(desktop.css) (min-width: 1024px) and (min-height: 700px);

@import url('https://fonts.googleapis.com/css2?family=Commissioner');
@import url('https://fonts.googleapis.com/css2?family=Nunito');

html {
    margin-top: 65px;
}

html header {
    top: 0;
}

body {
    font-family: sans-serif;

    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

h1 {
    text-align: center;
}

header {
    position: fixed;
    z-index: 999;
    background-color: white;
    width: 100%;
    height: 86px;
}

footer {
    color: white;
    padding: 10px;
    background-color: #1f2430;
    display: block;
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

    margin: 0;

    color: white;

    position: relative;
}

.hello {
    display: flex;
    flex-direction: column;
    padding: 0;

    margin: 0;
    position: absolute;
}

.title {
    width: 100%;

    font-family: 'Commisioner', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: calc(30px + 40 * (100vw - 139px) / 1461);


    flex: none;
    order: 0;
    flex-grow: 0;
}

.content {
    width: 100%;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(16px + 4 * (100vw - 139px) / 1461);

    flex: none;
    order: 1;
    flex-grow: 0;
}

.hire-button, .hire-button:visited {
    box-sizing: border-box;

    text-decoration: none;
    color: white;
    font-family: Commissioner, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: calc(16px + 2*(100vw - 139px)/1461);
    line-height: 22px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 32px;
    margin-bottom: 20px;
    gap: 11px;

    width: max-content;
    max-width: 100%;
    height: 65px;

    background: linear-gradient(273.26deg, #4051F2 8.9%, #186CE9 29.59%, #5841F8 69.4%);
    box-shadow: 0 4px 21px rgba(79, 75, 255, 0.33);
    backdrop-filter: blur(59px);

    border-radius: 21px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.hire-button:hover {
    background: #3e3465;
    box-shadow: none;

    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}